@charset "UTF-8";
/*Colores generales***********************/
.amarillo-rubiio {
  color: #f0cc03; }

.violeta-rubiio {
  color: #28285f; }

/*****************************************/
/*VOLVER ARRIBA *************************/
.arriba {
  margin: 40px; }
  .arriba .arriba__link {
    color: white;
    padding-top: 1.8em;
    display: inline-block;
    position: relative;
    border-color: white;
    text-decoration: none;
    transition: all .3s ease-out;
    font-family: 'Patrick Hand SC', cursive, sans-serif; }
  .arriba .arriba__link:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em white;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in; }
  .arriba .arriba__link:hover {
    color: #f0cc03;
    border-color: #f0cc03; }
  .arriba .arriba__link:hover:before {
    transform: rotate(360deg); }

/**********************************************/
/*CONTACTO****************************************/
.contacto {
  box-shadow: 1px 1px 200px 2px black;
  padding: 10px;
  border-radius: 20px; }
  .contacto .contacto__titulo {
    text-decoration: underline; }
  .contacto .contacto__campo {
    padding: 10px; }

.espacio {
  align-self: flex-start;
  position: sticky;
  top: 130px; }
  .espacio .espacio__img {
    border: black solid 2px;
    box-shadow: black 2px 2px 100px; }
    .espacio .espacio__img:hover {
      transition: all ease-in .3s;
      transform: scale(1.05);
      box-shadow: white 2px 2px 10px; }

/*BOTONES CONTACTO****************/
.btn-contacto {
  display: flex;
  justify-content: flex-end; }
  .btn-contacto .btn-contacto__enviar {
    color: black;
    background-color: #f0cc03;
    padding: 5px;
    border-radius: 5px;
    transition: all ease-out .2s; }
    .btn-contacto .btn-contacto__enviar:hover {
      background-color: black;
      color: white;
      transform: scale(1.1);
      box-shadow: white 1px 1px 10px; }
  .btn-contacto .btn-contacto__reset {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all ease-out 0.2s; }
    .btn-contacto .btn-contacto__reset:hover {
      background-color: #f0cc03;
      color: black;
      font-weight: bold;
      transform: scale(1.1); }

/*ESTILOS DE GALERIA GENERAL*/
.galeria1 .galeria1__col-galeria {
  text-align: center;
  text-shadow: black 2px 2px 10px; }
  .galeria1 .galeria1__col-galeria a {
    text-decoration: none;
    color: #f0cc03; }

.galeria1 .galeria1__col-galeria img {
  border: #9e9e9e solid 4px;
  border-radius: 20%;
  box-shadow: black 2px 2px 20px;
  width: 100%;
  height: auto; }

.galeria1 .galeria1__col-galeria img:hover {
  box-shadow: white 2px 2px 20px;
  transition: all ease-out 0.5s;
  transform: scale(1.03);
  cursor: pointer; }

/*CUADROS*/
.contenedor-cuadros {
  width: 100%; }
  .contenedor-cuadros .grid-cuadros a img {
    width: 100%;
    border: #1f1f1f solid 4px;
    box-shadow: black 3px 3px 10px;
    transition: all ease-out 0.2s; }
    .contenedor-cuadros .grid-cuadros a img:hover {
      transform: scale(1.1); }

.destacada1 {
  grid-column: span 2;
  grid-row: span 2; }

/*GRAFFITI*/
.contenedor-graff {
  width: 100%; }
  .contenedor-graff .grid-graff {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center; }
    .contenedor-graff .grid-graff a img {
      width: 100%;
      border: #1f1f1f solid 4px;
      box-shadow: black 3px 3px 10px;
      transition: all ease-out 0.2s; }
      .contenedor-graff .grid-graff a img:hover {
        transform: scale(1.1); }

.destacada1 {
  grid-column: span 2;
  grid-row: span 2; }

/*VEHICULOS*/
.galeria2 .dos-caballos img {
  box-shadow: black 2px 2px 20px;
  border: #9e9e9e solid 4px;
  border-radius: 20%;
  object-fit: cover; }
  .galeria2 .dos-caballos img:hover {
    transition: all ease-out 0.3s;
    box-shadow: white 2px 2px 20px;
    transform: scale(1.03); }

.galeria2 .dos-caballos a {
  text-decoration: none;
  color: #f0cc03; }

.galeria2 .pixelado img {
  box-shadow: black 2px 2px 20px;
  border: #9e9e9e solid 4px;
  border-radius: 20%; }
  .galeria2 .pixelado img:hover {
    transition: all ease-out 0.3s;
    box-shadow: white 2px 2px 20px;
    transform: scale(1.03); }

.galeria2 .pixelado a {
  text-decoration: none;
  color: #f0cc03; }

.contenedor-foto {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 180px;
  margin: 15px;
  padding: 12px;
  box-shadow: black 2px 2px 10px;
  text-align: center; }

/*DOS CABALLOS*/
.columna {
  padding: 0; }
  .columna a img {
    width: 100%;
    margin-top: 20px;
    border: #1f1f1f solid 4px;
    box-shadow: black 3px 3px 10px;
    transition: all ease-out 0.2s; }
    .columna a img:hover {
      transform: scale(1.1); }

/*PIXEL CAR*/
.contenedor-pixel {
  width: 100%; }
  .contenedor-pixel .grid-pixel {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center; }
    .contenedor-pixel .grid-pixel a img {
      width: 100%;
      border: #1f1f1f solid 4px;
      box-shadow: black 3px 3px 10px;
      transition: all ease-out 0.2s; }
      .contenedor-pixel .grid-pixel a img:hover {
        transform: scale(1.1); }

/*OPERACIONES*****************/
.margin-10 {
  margin: 10px; }

.margin-20 {
  margin: 20px; }

.margin-30 {
  margin: 30px; }

.margin-40 {
  margin: 40px; }

.margin-50 {
  margin: 50px; }

.padding-10 {
  padding: 10px; }

.padding-20 {
  padding: 20px; }

.padding-30 {
  padding: 30px; }

.padding-50 {
  padding: 50px; }

.ancho-1 {
  width: 25%; }

.ancho-2 {
  width: 50%; }

.ancho-3 {
  width: 75%; }

.ancho-4 {
  width: 100%; }

.alto-1 {
  height: 20px; }

.alto-2 {
  height: 40px; }

.alto-3 {
  height: 60px; }

.alto-4 {
  height: 80px; }

.color-azul {
  color: blue; }

.color-rojo {
  color: red; }

.color-amarillo {
  color: yellow; }

.color-verde {
  color: green; }

.color-celeste {
  color: lightblue; }

.color-rosa {
  color: pink; }

.fuente-pequeño {
  font-size: 14px; }

.fuente-mediano {
  font-size: 16px; }

.fuente-grande {
  font-size: 20px; }

.fuente-muy-grande {
  font-size: 24px; }

.fuente-gigante {
  font-size: 30px; }

/*QUIEN SOY*/
.quien-soy__img {
  box-shadow: 2px 2px 100px 2px black; }

.quien-soy__p {
  font-size: 22px; }

.quien-soy__tabla {
  font-size: 22px; }

/*ICONOS*/
.fa-github {
  color: white;
  font-size: 24px; }
  .fa-github:hover {
    color: #f0cc03; }

.fa-instagram {
  color: white;
  font-size: 24px; }
  .fa-instagram:hover {
    color: #f0cc03; }

.fa-sign-in-alt {
  color: white;
  font-size: 24px; }
  .fa-sign-in-alt:hover {
    color: #f0cc03; }

.fa-shopping-cart {
  color: white;
  font-size: 24px; }
  .fa-shopping-cart:hover {
    color: #f0cc03; }

.fa-home {
  font-size: 20px; }

.fa-images {
  font-size: 20px; }

.fa-question {
  font-size: 20px; }

.fa-address-card {
  font-size: 20px; }

.fa-hand-point-right {
  font-size: 30px;
  margin-left: 20px; }

.loginContainer {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }

/*ESTILOS DE LA TIENDA*/
.tituloTienda {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452); }

.gridTienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem; }
  .gridTienda a {
    text-decoration: none; }

/*PRODUCTO*/
.producto {
  margin: auto;
  background-color: #4b4b4b;
  padding: .5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px;
  transition: all ease-out 0.2s;
  border-radius: 1rem; }
  .producto:hover {
    transform: scale(1.01); }
  .producto .producto__precio, .producto .producto__nombre {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2; }
  .producto .producto__nombre {
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px; }
  .producto .producto__precio {
    font-size: 1.5rem;
    color: white;
    border: #f0cc04 1px;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px; }
  .producto div {
    text-align: center; }

.producto__imagen {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgba(29, 29, 29, 0.589) 2px 2px 5px; }

.producto__carrito--btn {
  background-color: black;
  color: #f0cc04;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: .5rem;
  transition: background-color .2s ease-in;
  grid-column: 1 / 3;
  margin-bottom: 1rem;
  width: 100%; }
  .producto__carrito--btn:hover {
    cursor: pointer;
    background-color: #caad07;
    color: black; }

/*REALIZA TUS COMPRAS BANNER*/
.bannerCompras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8b8a8a;
  color: black;
  text-align: center;
  padding: 1rem;
  font-weight: bolder; }
  .bannerCompras .preContenedorEnvios, .bannerCompras .preContenedorCompras {
    max-width: 500px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .bannerCompras .contenedorCompras, .bannerCompras .contenedorEnvios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .bannerCompras .seguras, .bannerCompras .horas {
    text-align: left;
    margin-left: .5rem;
    width: 300px; }
  .bannerCompras .candado, .bannerCompras .caja {
    width: 100px; }

/*GENERALES E INDEX*/
* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand SC', cursive, sans-serif; }

.navbar-brand {
  margin-left: 80px; }

.nav-item a {
  font-family: 'Patrick Hand SC', cursive, sans-serif;
  font-size: 22px;
  margin: 0px 10px; }

.social-menu {
  margin-right: 80px; }

body {
  background-image: url(https://cdn.pixabay.com/photo/2012/04/15/19/14/honeycomb-34984_960_720.png), linear-gradient(45deg, #2a1e44 50%, #0e4961, #134738);
  background-position: 0, center;
  background-size: contain;
  background-attachment: fixed, scroll;
  font-size: 16px; }

.pais-20 {
  font-style: 20px; }

.ciudad-16 {
  font-size: 16px; }

.bold {
  font-weight: bold; }

.carrusel {
  padding-bottom: 50px; }

.carousel-item {
  background-color: black;
  background-blend-mode: darken; }
  .carousel-item .carousel-item__img {
    opacity: 0.8; }

.carta-uno {
  border: solid black 4px; }

.texto-principal {
  min-height: 250px;
  border-radius: 20px;
  padding-top: 10px;
  transition: ease-out;
  box-shadow: black 0px -1px 15px; }
  .texto-principal .texto-principal__titulo:hover {
    text-shadow: white 1px 1px 15px; }

.caja-uno {
  width: 50%;
  height: 250px;
  box-shadow: black 2px 2px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-image: url(../img/rosa-min.png);
  background-size: cover;
  border: black solid 5px;
  padding-top: 50px; }
  .caja-uno .caja-uno__parrafo {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 3px black;
    opacity: none; }

.dale-btn {
  text-decoration: none;
  box-shadow: black 1px 1px 10px;
  background-color: white;
  padding: 5px;
  border-radius: 12px;
  border: outset;
  color: black;
  font-size: 20px; }
  .dale-btn:hover {
    background-color: #2e2175;
    color: #f0cc04;
    font-weight: bold; }
  .dale-btn:active {
    background-color: #104745; }

.rubiio-movil {
  border-radius: 20px;
  box-shadow: black 0px -1px 15px; }
  .rubiio-movil .rubiio-movil__img {
    border-radius: 20px;
    transition: all ease-out 0.5s; }
    .rubiio-movil .rubiio-movil__img:hover {
      opacity: 0.4;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      -ms-transition: opacity 500ms;
      transition: opacity 500ms; }
  .rubiio-movil .rubiio-movil__titulo {
    text-align: center; }
  .rubiio-movil .rubiio-movil__parrafo {
    padding: 3px;
    font-size: 20px; }
    .rubiio-movil .rubiio-movil__parrafo a {
      color: #f0cc04; }
      .rubiio-movil .rubiio-movil__parrafo a:hover {
        color: #ffec70; }
  .rubiio-movil .rubiio-movil--amarillo {
    color: #f0cc04; }

.rubiiecito {
  padding: 0; }
  .rubiiecito .rubiiecito__img {
    transition: all ease-out 0.2s; }
  .rubiiecito .rubiiecito__img:hover {
    transform: scale(1.08); }
  .rubiiecito span {
    display: flex;
    align-items: center;
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    transform: rotate(345deg); }
    .rubiiecito span .fa-hand-point-down {
      display: none; }

/*OFFCANVAS PRINCIPIAL*/
.gd-1:hover {
  color: blue;
  cursor: pointer; }

.gd-2:hover {
  color: red;
  cursor: pointer; }

.gd-3:hover {
  color: yellow;
  cursor: pointer; }

.gd-4:hover {
  color: green;
  cursor: pointer; }

.gd-5:hover {
  color: #981fa3;
  cursor: pointer; }

.gd-1 {
  transition: all ease-out 0.2s; }

.gd-2 {
  transition: all ease-out 0.2s; }

.gd-3 {
  transition: all ease-out 0.2s; }

.gd-4 {
  transition: all ease-out 0.2s; }

.gd-5 {
  transition: all ease-out 0.2s; }

.cuarta {
  background-image: url(../img/latas.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.3);
  background-blend-mode: darken;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: black 0px -1px 30px; }
  .cuarta .cuarta__fila h3 {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    justify-content: center;
    text-shadow: white 1px 1px 10px;
    padding: 10px; }
    .cuarta .cuarta__fila h3:hover {
      cursor: not-allowed;
      text-shadow: black 1px 1px 10px; }

.prefooter {
  width: 100%;
  min-height: 50vh;
  background-color: #141414;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center; }
  .prefooter .redes {
    display: block;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center; }
    .prefooter .redes h5 {
      margin-bottom: 50px;
      font-size: 1.5em; }
    .prefooter .redes a {
      margin: 5px; }
  .prefooter .logo2 {
    width: 300px;
    margin: auto auto; }
    .prefooter .logo2 img {
      width: 100%; }
  .prefooter .mapa {
    padding: 15px;
    margin: 15px;
    border: solid white 2px;
    border-radius: 20px; }
    .prefooter .mapa iframe {
      border-radius: 20px; }

/*SMARTPHONE*/
@media (max-width: 599px) {
  .navbar-brand {
    margin-left: 0; }
  .carrusel {
    padding-bottom: 10px; }
  .social-menu {
    margin-bottom: 10px; }
  .texto-principal {
    min-height: 380px;
    padding-top: 10px;
    transition: ease-out;
    box-shadow: black 0px -1px 15px; }
    .texto-principal .texto-principal__titulo:hover {
      text-shadow: none; }
  .rubiiecito {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px; }
    .rubiiecito span .fa-hand-point-right {
      display: none; }
    .rubiiecito span .fa-hand-point-down {
      display: inline;
      margin: 10px; }
    .rubiiecito .rubiiecito__img {
      transition: none; }
    .rubiiecito .rubiiecito__img:hover {
      transform: none; }
  .cuarta .cuarta__fila h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    justify-content: center;
    text-shadow: white 1px 1px 10px;
    padding: 10px; }
    .cuarta .cuarta__fila h3:hover {
      text-shadow: white 1px 1px 10px; }
  .rubiio-movil {
    margin-top: 0px; }
    .rubiio-movil .rubiio-movil__img {
      border-radius: 20px;
      transition: none; }
      .rubiio-movil .rubiio-movil__img:hover {
        transform: none; }
  .quinta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .galeria1 .galeria1__col-galeria img {
    border: #9e9e9e solid 4px;
    border-radius: 20%;
    box-shadow: black 2px 2px 20px; }
  .galeria1 .galeria1__col-galeria img:hover {
    box-shadow: black 2px 2px 20px;
    transition: none;
    transform: none; }
  .quien-soy__p {
    font-size: 16px; }
  .quien-soy__tabla {
    font-size: 16px; }
  .contenedor-pixel {
    width: 100%; }
    .contenedor-pixel .grid-pixel {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-pixel .grid-pixel a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-pixel .grid-pixel a img:hover {
          transform: none; }
  .contenedor-cuadros {
    width: 100%; }
    .contenedor-cuadros .grid-cuadros {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-cuadros .grid-cuadros a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-cuadros .grid-cuadros a img:hover {
          transform: none; }
  .contenedor-graff {
    width: 100%; }
    .contenedor-graff .grid-graff {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-graff .grid-graff a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-graff .grid-graff a img:hover {
          transform: none; }
  .destacada1 {
    grid-column: span 1;
    grid-row: span 1; }
  .prefooter {
    grid-template-columns: 1fr 1fr; }
    .prefooter .redes {
      display: block;
      text-align: center;
      padding: 0px 0px;
      grid-column-start: 3;
      padding-right: 20px;
      align-self: center; }
      .prefooter .redes h5 {
        margin-bottom: 10px;
        font-size: 1.5em; }
      .prefooter .redes a i {
        margin: 10px; }
    .prefooter .logo2 {
      width: 200px; }
      .prefooter .logo2 img {
        width: 100%; }
    .prefooter .mapa {
      display: none; }
  .gridTienda {
    grid-template-columns: 1fr; } }

/*TABLET*/
@media (min-width: 600px) and (max-width: 999px) {
  .navbar-brand {
    margin-left: 0; }
  .carrusel {
    padding-bottom: 10px; }
  .social-menu {
    margin-bottom: 10px; }
  .caja-uno {
    padding-top: 15px; }
  .rubiio-movil .rubiio-movil__img {
    border-radius: 20px;
    transition: none; }
    .rubiio-movil .rubiio-movil__img:hover {
      transform: none; }
  .cuarta .cuarta__fila h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    justify-content: center;
    text-shadow: white 1px 1px 10px;
    padding: 10px; }
    .cuarta .cuarta__fila h3:hover {
      text-shadow: white 1px 1px 10px; }
  .quinta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px; }
    .quinta .div-imagen {
      display: inline-block;
      position: relative;
      margin: 20px;
      border-radius: 20px;
      box-shadow: black 2px 2px 20px; }
      .quinta .div-imagen div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 10px;
        margin: 0;
        color: white;
        margin: 20px;
        font-size: 16px; }
      .quinta .div-imagen .desvanecer {
        border-radius: 20px;
        width: 100%; }
        .quinta .div-imagen .desvanecer:hover {
          opacity: 0.07;
          -webkit-transition: opacity 500ms;
          -moz-transition: opacity 500ms;
          -o-transition: opacity 500ms;
          -ms-transition: opacity 500ms;
          transition: opacity 500ms; }
  .contenedor-pixel {
    width: 100%; }
    .contenedor-pixel .grid-pixel {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-pixel .grid-pixel a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-pixel .grid-pixel a img:hover {
          transform: none; }
  .contenedor-graff {
    width: 100%; }
    .contenedor-graff .grid-graff {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-graff .grid-graff a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-graff .grid-graff a img:hover {
          transform: none; }
  .contenedor-cuadros {
    width: 100%; }
    .contenedor-cuadros .grid-cuadros {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-cuadros .grid-cuadros a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-cuadros .grid-cuadros a img:hover {
          transform: none; }
  .quien-soy__p {
    font-size: 20px; }
  .quien-soy__tabla {
    font-size: 20px; }
  .prefooter {
    grid-template-columns: 1fr 1fr; }
    .prefooter .redes {
      display: block;
      text-align: center;
      padding: 0px 0px;
      grid-column-start: 3;
      padding-right: 20px;
      align-self: center; }
      .prefooter .redes h5 {
        margin-bottom: 10px;
        font-size: 1.5em; }
      .prefooter .redes a i {
        margin: 10px; }
    .prefooter .logo2 {
      width: 200px; }
      .prefooter .logo2 img {
        width: 100%; }
    .prefooter .mapa {
      display: none; }
  .gridTienda {
    grid-template-columns: repeat(2, 1fr); } }
