* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS DE LA TIENDA*/
.tituloTienda {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452); }

/*Main tienda*/
.mainTienda {
  display: grid;
  grid-template-columns: 2fr auto; }

/*Selector tienda*/
.contenedorSelector {
  padding: 1rem; }

#selector {
  display: flex;
  justify-content: center;
  text-align: start;
  padding: .5rem;
  border-radius: .5rem; }

optgroup {
  text-align: start; }

.contenedorImg {
  position: sticky;
  top: 7rem; }

.imgSelector {
  padding: 1rem;
  margin-top: 1rem;
  position: top sticky;
  border: white .1rem solid; }

/*PRODUCTO*/
.gridTienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem; }
  .gridTienda a {
    text-decoration: none; }

.producto {
  margin: auto;
  background-color: white;
  padding: .5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px;
  transition: all ease-out 0.2s;
  border-radius: 1rem; }
  .producto:hover {
    transform: scale(1.01); }
  .producto .producto__precio, .producto .producto__nombre {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2; }
  .producto .producto__descripcion {
    color: black;
    padding: .5rem;
    font-size: 20px;
    font-family: "Patrick Hand SC", cursive, sans-serif; }
  .producto .producto__nombre {
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Patrick Hand SC", cursive, sans-serif; }
  .producto .producto__precio {
    font-size: 2rem;
    color: black;
    border: black 1px;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px; }
  .producto div {
    text-align: center; }

.producto__imagen {
  width: 100%;
  object-fit: scale-down;
  box-shadow: rgba(29, 29, 29, 0.589) 2px 2px 5px; }

.producto__carrito--btn {
  background-color: black;
  color: #f0cc04;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: .5rem;
  transition: background-color .2s ease-in;
  grid-column: 1 / 3;
  margin-bottom: 1rem;
  width: 100%; }
  .producto__carrito--btn:hover {
    cursor: pointer;
    background-color: #caad07;
    color: black; }

/*REALIZA TUS COMPRAS BANNER*/
.bannerCompras {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #363636;
  color: #f0cc04;
  text-shadow: rgba(0, 0, 0, 0.589) 2px 2px 5px;
  text-align: center;
  padding: 1rem;
  font-weight: bolder; }
  .bannerCompras .preContenedorEnvios, .bannerCompras .preContenedorCompras {
    max-width: 500px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .bannerCompras .contenedorCompras, .bannerCompras .contenedorEnvios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .bannerCompras .seguras, .bannerCompras .horas {
    text-align: left;
    margin-left: .5rem;
    width: 300px; }
  .bannerCompras .candado, .bannerCompras .caja {
    width: 100px; }

/*CARRITO*/
.carritoContenedor {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 2rem; }

.totalContenedor {
  color: #da4848;
  font-size: 1.3rem; }

/*ICONOS*/
.fa-github {
  color: white;
  font-size: 24px; }

.fa-github:hover {
  color: #f0cc03; }

.fa-instagram {
  color: white;
  font-size: 24px; }

.fa-instagram:hover {
  color: #f0cc03; }

.fa-sign-in-alt {
  color: white;
  font-size: 24px; }

.fa-sign-in-alt:hover {
  color: #f0cc03; }

.fa-shopping-cart {
  color: white;
  font-size: 24px; }

.fa-shopping-cart:hover {
  color: #f0cc03; }

.fa-home {
  font-size: 20px; }

.fa-images {
  font-size: 20px; }

.fa-question {
  font-size: 20px; }

.fa-address-card {
  font-size: 20px; }

.gridProducto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin: 1rem; }
  .gridProducto .imgCuadro {
    width: 100%;
    object-fit: cover; }
  .gridProducto .contenedorProducto {
    margin: 1rem; }
  .gridProducto .formProducto {
    display: flex;
    flex-direction: row;
    gap: 1rem; }
  .gridProducto .formCampoProducto {
    border: 0.1rem solid black;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 2rem;
    appearance: none;
    box-shadow: #0000008e 1px 1px 5px; }
  .gridProducto .formSubmit {
    background-color: #f0cc04;
    color: black;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    padding: 2rem;
    transition: background-color .2s ease-in;
    grid-column: 1 / 3;
    width: 100%;
    box-shadow: #0000008e 1px 1px 5px; }
  .gridProducto .formSubmit:hover {
    cursor: pointer;
    background-color: black;
    color: #f0cc04; }

/*GENERALES E INDEX*/
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patrick Hand SC", cursive, sans-serif; }

.navbar-brand {
  margin-left: 80px; }

.nav-item a {
  font-family: "Patrick Hand SC", cursive, sans-serif;
  font-size: 22px;
  margin: 0px 10px; }

.social-menu {
  margin-right: 80px; }

body {
  background-image: url(https://cdn.pixabay.com/photo/2012/04/15/19/14/honeycomb-34984_960_720.png), linear-gradient(45deg, #2a1e44 50%, #0e4961, #134738);
  background-position: 0, center;
  background-size: contain;
  background-attachment: fixed, scroll;
  font-size: 16px; }

.loginContainer {
  height: 90vh; }

.prefooter {
  width: 100%;
  min-height: 50vh;
  background-color: #141414;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center; }
  .prefooter .redes {
    display: block;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center; }
    .prefooter .redes h5 {
      margin-bottom: 50px;
      font-size: 1.5em; }
    .prefooter .redes a {
      margin: 5px; }
  .prefooter .logo2 {
    width: 300px;
    margin: auto auto; }
    .prefooter .logo2 img {
      width: 100%; }
  .prefooter .mapa {
    padding: 15px;
    margin: 15px;
    border: solid white 2px;
    border-radius: 20px; }
    .prefooter .mapa iframe {
      border-radius: 20px; }

footer {
  height: 10vh; }

/*SMARTPHONE*/
@media (max-width: 599px) {
  .navbar-brand {
    margin-left: 0; }
  .social-menu {
    margin-bottom: 10px; }
  .texto-principal {
    min-height: 380px;
    padding-top: 10px;
    transition: ease-out;
    box-shadow: black 0px -1px 15px; }
    .texto-principal .texto-principal__titulo:hover {
      text-shadow: none; }
  .rubiiecito {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px; }
    .rubiiecito span .fa-hand-point-right {
      display: none; }
    .rubiiecito span .fa-hand-point-down {
      display: inline;
      margin: 10px; }
    .rubiiecito .rubiiecito__img {
      transition: none; }
    .rubiiecito .rubiiecito__img:hover {
      transform: none; }
  .cuarta .cuarta__fila h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    justify-content: center;
    text-shadow: white 1px 1px 10px;
    padding: 10px; }
    .cuarta .cuarta__fila h3:hover {
      text-shadow: white 1px 1px 10px; }
  .rubiio-movil {
    margin-top: 0px; }
    .rubiio-movil .rubiio-movil__img {
      border-radius: 20px;
      transition: none; }
      .rubiio-movil .rubiio-movil__img:hover {
        transform: none; }
  .quinta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
  .galeria1 .galeria1__col-galeria img {
    border: #9e9e9e solid 4px;
    border-radius: 20%;
    box-shadow: black 2px 2px 20px; }
  .galeria1 .galeria1__col-galeria img:hover {
    box-shadow: black 2px 2px 20px;
    transition: none;
    transform: none; }
  .quien-soy__p {
    font-size: 16px; }
  .quien-soy__tabla {
    font-size: 16px; }
  .contenedor-pixel {
    width: 100%; }
    .contenedor-pixel .grid-pixel {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-pixel .grid-pixel a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-pixel .grid-pixel a img:hover {
          transform: none; }
  .contenedor-cuadros {
    width: 100%; }
    .contenedor-cuadros .grid-cuadros {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-cuadros .grid-cuadros a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-cuadros .grid-cuadros a img:hover {
          transform: none; }
  .contenedor-graff {
    width: 100%; }
    .contenedor-graff .grid-graff {
      display: grid;
      grid-template-columns: 80%;
      gap: 20px;
      justify-content: center; }
      .contenedor-graff .grid-graff a img {
        width: 100%;
        margin: 0px;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-graff .grid-graff a img:hover {
          transform: none; }
  .destacada1 {
    grid-column: span 1;
    grid-row: span 1; }
  .prefooter {
    grid-template-columns: 1fr 1fr; }
    .prefooter .redes {
      display: block;
      text-align: center;
      padding: 0px 0px;
      grid-column-start: 3;
      padding-right: 20px;
      align-self: center; }
      .prefooter .redes h5 {
        margin-bottom: 10px;
        font-size: 1.5em; }
      .prefooter .redes a i {
        margin: 10px; }
    .prefooter .logo2 {
      width: 200px; }
      .prefooter .logo2 img {
        width: 100%; }
    .prefooter .mapa {
      display: none; }
  .mainTienda {
    display: grid;
    grid-template-columns: 1fr; }
  #selector {
    width: 100%; }
  .imgSelector {
    display: none; }
  .gridTienda {
    grid-template-columns: 1fr; }
  .gridProducto {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem; } }

/*TABLET*/
@media (min-width: 600px) and (max-width: 999px) {
  .navbar-brand {
    margin-left: 0; }
  .carrusel {
    padding-bottom: 10px; }
  .social-menu {
    margin-bottom: 10px; }
  .caja-uno {
    padding-top: 15px; }
  .rubiio-movil .rubiio-movil__img {
    border-radius: 20px;
    transition: none; }
    .rubiio-movil .rubiio-movil__img:hover {
      transform: none; }
  .cuarta .cuarta__fila h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    justify-content: center;
    text-shadow: white 1px 1px 10px;
    padding: 10px; }
    .cuarta .cuarta__fila h3:hover {
      text-shadow: white 1px 1px 10px; }
  .quinta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px; }
    .quinta .div-imagen {
      display: inline-block;
      position: relative;
      margin: 20px;
      border-radius: 20px;
      box-shadow: black 2px 2px 20px; }
      .quinta .div-imagen div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 10px;
        margin: 0;
        color: white;
        margin: 20px;
        font-size: 16px; }
      .quinta .div-imagen .desvanecer {
        border-radius: 20px;
        width: 100%; }
        .quinta .div-imagen .desvanecer:hover {
          opacity: 0.07;
          -webkit-transition: opacity 500ms;
          -moz-transition: opacity 500ms;
          -o-transition: opacity 500ms;
          -ms-transition: opacity 500ms;
          transition: opacity 500ms; }
  .contenedor-pixel {
    width: 100%; }
    .contenedor-pixel .grid-pixel {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-pixel .grid-pixel a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-pixel .grid-pixel a img:hover {
          transform: none; }
  .contenedor-graff {
    width: 100%; }
    .contenedor-graff .grid-graff {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-graff .grid-graff a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-graff .grid-graff a img:hover {
          transform: none; }
  .contenedor-cuadros {
    width: 100%; }
    .contenedor-cuadros .grid-cuadros {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 20px;
      justify-content: center; }
      .contenedor-cuadros .grid-cuadros a img {
        width: 100%;
        margin: 0;
        border: #1f1f1f solid 4px;
        box-shadow: black 3px 3px 10px;
        transition: none; }
        .contenedor-cuadros .grid-cuadros a img:hover {
          transform: none; }
  .quien-soy__p {
    font-size: 20px; }
  .quien-soy__tabla {
    font-size: 20px; }
  .prefooter {
    grid-template-columns: 1fr 1fr; }
    .prefooter .redes {
      display: block;
      text-align: center;
      padding: 0px 0px;
      grid-column-start: 3;
      padding-right: 20px;
      align-self: center; }
      .prefooter .redes h5 {
        margin-bottom: 10px;
        font-size: 1.5em; }
      .prefooter .redes a i {
        margin: 10px; }
    .prefooter .logo2 {
      width: 200px; }
      .prefooter .logo2 img {
        width: 100%; }
    .prefooter .mapa {
      display: none; }
  .mainTienda {
    display: grid;
    grid-template-columns: 1fr; }
  #selector {
    width: 100%; }
  .imgSelector {
    display: none; }
  .gridTienda {
    grid-template-columns: repeat(2, 1fr); }
  .gridProducto {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem; } }
