

/*VOLVER ARRIBA *************************/

//VARIABLES 
$amarillo-rubiio: rgb(240, 204, 3);

.arriba {
    margin: 1px;

    .arriba__link {
        color:white;
        padding-top:1.8em;
        display:inline-block;
        position:relative;
        border-color:white;
        text-decoration:none;
        transition:all .3s ease-out;
        
        
        

    }
    
    .arriba__link:before {
        content:'▲';
        font-size:.9em;
        position:absolute;
        top:0;
        left:50%;
        margin-left:-.7em;
        border:solid .13em white;
        border-radius:10em;
        width:1.4em;
        height:1.4em;
        line-height:1.3em;
        border-color:inherit;
        transition:transform .5s ease-in;
    }
    
    .arriba__link:hover {
        color: $amarillo-rubiio;
        border-color: $amarillo-rubiio;
    }
    
    .arriba__link:hover:before {
        transform: rotate(360deg);
    }
}

/**********************************************/