
/*ESTILOS DE GALERIA GENERAL*/

.galeria1 {

    .galeria1__col-galeria {
        text-align: center;
        text-shadow: black 2px 2px 10px;

        a {
            text-decoration: none;
            color: $amarillo-rubiio;
        }
        

    }
    
    .galeria1__col-galeria img {
        border: rgb(158, 158, 158) solid 4px;
        border-radius: 20%;
        box-shadow: black 2px 2px 20px;
        width: 100%;
        height: auto;

    }

    .galeria1__col-galeria img:hover {
        box-shadow: white 2px 2px 20px;
        transition: all ease-out 0.5s;
        transform: scale(1.03);
        cursor: pointer;
    }

}

/*CUADROS*/
.contenedor-cuadros {
    width: 100%;

    .grid-cuadros {
        
        a img {
            width: 100%;
            border: rgb(31, 31, 31) solid 4px;
            box-shadow: black 3px 3px 10px;
            transition: all ease-out 0.2s;
        
            &:hover {
                transform: scale(1.1);
            }
        }
    
    }

}

.destacada1 {
    grid-column: span 2;
    grid-row: span 2;
}




/*GRAFFITI*/

.contenedor-graff {
    width: 100%;

    .grid-graff {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center;
        
        a img {
            width: 100%;
            border: rgb(31, 31, 31) solid 4px;
            box-shadow: black 3px 3px 10px;
            transition: all ease-out 0.2s;
        
            &:hover {
                transform: scale(1.1);
            }
        }
    
    }

}

.destacada1 {
    grid-column: span 2;
    grid-row: span 2;
}



/*VEHICULOS*/

.galeria2 {
    
    .dos-caballos {
        

         img {
            box-shadow: black 2px 2px 20px;
            border: rgb(158, 158, 158) solid 4px;
            border-radius: 20%;
            object-fit: cover;

            &:hover {
                transition: all ease-out 0.3s;
                box-shadow: white 2px 2px 20px;
                transform: scale(1.03);    
            }
            
        }

        a {
            text-decoration: none;
            color: $amarillo-rubiio;
        }
    }
    
    .pixelado {
        
        img {
            box-shadow: black 2px 2px 20px;
            border: rgb(158, 158, 158) solid 4px;
            border-radius: 20%;
            

            &:hover {
                transition: all ease-out 0.3s;
                box-shadow: rgb(255, 255, 255) 2px 2px 20px;
                transform: scale(1.03);
            }
        }

        a {
            text-decoration: none;
            color: $amarillo-rubiio;    
        }
    }

    
}

.contenedor-foto {
    display: flex;
    flex-wrap: wrap;
    width:210px;
    height:180px;
    margin: 15px;
    padding:12px;
    box-shadow: black 2px 2px 10px;
    text-align:center;
}


/*DOS CABALLOS*/

.columna {
    padding: 0;

    a {

        img {
            width: 100%;
            margin-top: 20px;
            border: rgb(31, 31, 31) solid 4px;
            box-shadow: black 3px 3px 10px;
            transition: all ease-out 0.2s;
    
            &:hover {
                transform: scale(1.1);
            }
        }

    }

}


/*PIXEL CAR*/

.contenedor-pixel {
    width: 100%;

    .grid-pixel {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        justify-content: center;
        
        a img {
            width: 100%;
            border: rgb(31, 31, 31) solid 4px;
            box-shadow: black 3px 3px 10px;
            transition: all ease-out 0.2s;
        
            &:hover {
                transform: scale(1.1);
            }
        }
    
    }

}









