/*ICONOS*/

.fa-github {
    color: white;

    &:hover {
        color: $amarillo-rubiio;
    }
}

.fa-instagram {
    color: white;

    &:hover {
        color: $amarillo-rubiio;
    }
}

.fa-sign-in-alt {
    color: white;

    &:hover {
        color: $amarillo-rubiio;
    }
}

.fa-home {
    font-size: 20px;
}

.fa-images {
    font-size: 20px;
}

.fa-question {
    font-size: 20px;
}

.fa-address-card {
    font-size: 20px;
}

.fa-hand-point-right {
    font-size: 30px;
    margin-left: 20px;
}