/*INSTAGRAM ICON*/


.instagram-icon {
    border-color: red;
}

.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2.5px solid white;
    box-shadow: 0 0 0 2px;
    border-radius: 8px;
    width: 30px;
    height: 30px
   }
   
   .gg-instagram::after,
   .gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-instagram::after {
    border: 2.5px solid white;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: 5px
   }
   
   .gg-instagram::before {
    border-radius: 3.5px;
    width: 3px;
    height: 3px;
    background: white;
    right: 3px;
    top: 3px
   } 