//IMPORTS

@import "colores";
@import "boton-arriba";
@import "contacto";
@import "galeria";
@import "operaciones";
@import "quien";
@import "iconos";

//VARIABLES 
$amarillo-rubiio: rgb(240, 204, 4);
$color_fondo : linear-gradient(45deg, #2a1e44 50% ,#0e4961 , #134738 );


/*GENERALES E INDEX*/
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Patrick Hand SC', cursive, sans-serif;
}

.navbar-brand {
    margin-left: 80px;
}

.nav-item a {
    font-family: 'Patrick Hand SC', cursive, sans-serif;
    font-size: 22px;
    margin: 0px 10px;
}

.social-menu {
    margin-right: 80px;
}

body {
    background-color: #333366;
    background-image: $color_fondo;
    font-size: 16px;
}

.pais-20 {
    @include tamanio-text (pais);
}

.ciudad-16 {
    @include tamanio-text (ciudad);
}

.bold {
    font-weight: bold;
}

.carrusel {
    padding-bottom: 50px;
}

.carousel-item {
    background-color: black;
    background-blend-mode: darken;

    .carousel-item__img {
    opacity: 0.7;
    }
}

.carousel-caption {
    text-shadow: black 2px 2px 1px;
    position: absolute;
    top: 30%;

    span {
        font-family: 'Permanent Marker', cursive;
        font-size: 4em;
    }

    p {
        font-size: 2.5em;
        color: rgb(226, 226, 226);
        font-family: 'Patrick Hand SC', cursive, sans-serif;
    }
    
}

.carta-uno {
    border: solid black 4px;
}

.texto-principal {
    min-height: 250px;
    border-radius: 20px;
    padding-top: 10px;
    transition: ease-out;
    box-shadow: black 0px -1px 15px;

    .texto-principal__titulo:hover {
        text-shadow: white 1px 1px 15px;
    }
}

.caja-uno {
    width: 50%;
    height: 250px;
    box-shadow: rgb(0, 0, 0) 2px 2px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-image: url(../img/rosa-min.png);
    background-size: cover;
    border: black solid 5px;
    padding-top: 50px;
    

    .caja-uno__parrafo {
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 3px black;
        opacity: none;
    }
}

.dale-btn {
    text-decoration: none;
    box-shadow: black 1px 1px 10px;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    border: outset;
    color: black;
    font-size: 20px;

    &:hover {
        background-color: rgb(46, 33, 117);
        color: $amarillo-rubiio;
        font-weight: bold;
    }

    &:active {
        background-color: rgb(16, 71, 69);
    }

}

.rubiio-movil {
    border-radius: 20px;
    box-shadow: black 0px -1px 15px;

    .rubiio-movil__img {
        border-radius: 20px;
        transition: all ease-out 0.5s;
        

        &:hover {
            opacity: 0.4;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                -ms-transition: opacity 500ms;
                transition: opacity 500ms;
            
        }
    }
    


    .rubiio-movil__titulo {
        text-align: center;
    }

    .rubiio-movil__parrafo {
        padding: 3px;
        font-size: 20px;
    }

    .rubiio-movil--amarillo {
        color: $amarillo-rubiio;
    }

}

.rubiiecito {
    padding: 0;
    

    .rubiiecito__img{
        transition: all ease-out 0.2s;
    }
    
    .rubiiecito__img:hover {
        transform: scale(1.08);
    }

    span {
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    }
}


/*OFFCANVAS PRINCIPIAL*/
$coloretes: (
    1: blue,
    2: red,
    3: yellow,
    4: green,
    5: rgb(152, 31, 163),
);
@each $granDia, $colore in $coloretes {
    .gd-#{$granDia}:hover {
        color: $colore;
        cursor: pointer;
    }
    
}

@each $granD in 1, 2, 3, 4, 5 {
    .gd-#{$granD} {
        transition: all ease-out 0.2s;
        
    }
    
}

.cuarta {
    background-image: url(../img/latas.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.3);
    background-blend-mode: darken;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: black 0px -1px 30px;

    .cuarta__fila {
        
        h3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: white;
            justify-content: center;
            text-shadow: black 3px 3px 4px;
            padding: 10px;

            &:hover {
                cursor: not-allowed;
                text-shadow: white 1px 1px 10px;
            }
        }

        
        
    }

}

/*
.quinta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;

    .div-imagen {
        display:inline-block;
        position:relative;
        margin: 20px;
        border-radius: 20px;
        box-shadow: black 2px 2px 20px;
      
      
        div {
            position:absolute;
            top:0;
            left:0;
            z-index:-1;
            padding:10px;
            margin:0;
            color: white;
            margin: 20px;
            font-size: 28px;
        }
    
        .desvanecer {
            border-radius: 20px;
            width: 100%;

            &:hover {
                opacity: 0.07;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                -ms-transition: opacity 500ms;
                transition: opacity 500ms;
              }
        }
    
    }    

}

*/

.prefooter {
    width: 100%;
    height: 30vh;
    background-color: rgb(20, 20, 20);
    display: block;
    text-align: center;
    padding: 4rem 0px;

    h3 {
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    div a {
        margin: 5px;
    }

}

@import "medias";