<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Festival Club</title>
</head>
<body>
    <header>
        <img class="logo" width="100" height="100" src="imagenes/logo.png" alt="logo">  
    </header>
    <nav>
        <ul class="ulPosition">
            <li><a class="linkMenu" href="index.html">Inicio</a></li>
            <li><a class="linkMenu" href="galeria.html">Galeria</a>
                <ul>
                    <li><a class="submenu" href="graffitis.html">Graffitis</a></li>
                    <li><a  class="submenu" href="cuadros.html">Cuadros</a></li>
                </ul></li>
            <li><a class="linkMenu" href="quien_soy.html">Quien soy?</a></li>
            <li><a class="linkMenu" href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>