<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/destino.css">
    <link rel="icon" href="../../img/logo-no-fondo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <!--SEO-->
    <meta name="keyword" content="graffiti, rubiio, ibiza, dos, caballos, colores, urbano, artista">
    <meta name="description" content="Galeria de imagenes de coche antiguo dos caballos, realizado al estilo graffiti y arte urbano">

    <title>Rubiio - Vehiculos, Dos caballos</title>
</head>

<body>

    <!--MENU-->

    <header class="sticky-top">

		<nav class="bg-dark navbar navbar-expand-lg navbar-dark py-0">

			<div class="container-fluid">
	
				<a class="navbar-brand" href="../../index.html"><img width="80px" class="d-inline-block align-text-top img-fluid" src="../../img/logo-no-fondo.png" alt="logo"></a>
	
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
	
				<div class="collapse navbar-collapse justify" id="navbarSupportedContent">
	
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 h4">
	
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
						</li>
	
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="galeria.html" id="navbarDropdown" role="button"" data-bs-toggle="dropdown" aria-expanded="false">Galeria</a>
	
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item h4" href="../../views/galeria/cuadros.html">Cuadros</a></li>
								<li><a class="dropdown-item h4" href="../../views/galeria/graffitis.html">Graffiti</a></li>
								<li><a class="dropdown-item h4" href="../../views/galeria/vehiculos.html">Vehiculos</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../quien_soy.html">Quien soy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../contacto.html" >Contacto</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
						<button class="btn btn-outline-warning" type="submit">Buscar</button>
					</form>
				</div>
			</div>
		</nav>

	</header>


    <!--MAIN-->
    <main class="container-fluid">

        <div class="row justify-content-center">

            <h1 class="titulosEspecial text-center display-5 text-warning my-4">DOS CABALLOS CAR</h1>

            <div class="columna col-sm-12 col-md-3 col-xl-3">
                 <a href="../../img/dos_caballos/1.jpg"><img alt="foto 1" src="../../img/dos_caballos/1-min.jpg"></a>
                 <a href="../../img/dos_caballos/2.jpg"><img alt="foto 2" src="../../img/dos_caballos/2-min.jpg"></a>
                 <a href="../../img/dos_caballos/3.jpg"><img alt="foto 3" src="../../img/dos_caballos/3-min.jpg"></a>
                 <a href="../../img/dos_caballos/5.jpg"><img alt="foto 4" src="../../img/dos_caballos/5-min.jpg"></a>
                 <a href="../../img/dos_caballos/6.jpg"><img alt="foto 5" src="../../img/dos_caballos/6-min.jpg"></a>
                 <a href="../../img/dos_caballos/7.jpg"><img alt="foto 6" src="../../img/dos_caballos/7-min.jpg"></a>
            </div>
    
            <div class="columna col-sm-12 col-md-3 col-xl-3">
                 <a href="../../img/dos_caballos/8.jpg"><img alt="foto 7" src="../../img/dos_caballos/8-min.jpg"></a>
                 <a href="../../img/dos_caballos/9.jpg"><img alt="foto 8" src="../../img/dos_caballos/9-min.jpg"></a>
                 <a href="../../img/dos_caballos/10.jpg"><img alt="foto 9" src="../../img/dos_caballos/10-min.jpg"></a>
                 <a href="../../img/dos_caballos/11.jpg"><img alt="foto 10" src="../../img/dos_caballos/11-min.jpg"></a>
                 <a href="../../img/dos_caballos/12.jpg"><img alt="foto 11" src="../../img/dos_caballos/12-min.jpg"></a>
                 <a href="../../img/dos_caballos/13.jpg"><img alt="foto 12" src="../../img/dos_caballos/13-min.jpg"></a>
            </div>
    
            <div class="columna col-sm-12 col-md-3 col-xl-3">
                 <a href="../../img/dos_caballos/14.jpg"><img alt="foto 13" src="../../img/dos_caballos/14-min.jpg"></a>
                 <a href="../../img/dos_caballos/15.jpg"><img alt="foto 14" src="../../img/dos_caballos/15-min.jpg"></a>
                 <a href="../../img/dos_caballos/16.jpg"><img alt="foto 15" src="../../img/dos_caballos/16-min.jpg"></a>
                 <a href="../../img/dos_caballos/17.jpg"><img alt="foto 16" src="../../img/dos_caballos/17-min.jpg"></a>
                 <a href="../../img/dos_caballos/18.jpg"><img alt="foto 17" src="../../img/dos_caballos/18-min.jpg"></a>
                 <a href="../../img/dos_caballos/19.jpg"><img alt="foto 18" src="../../img/dos_caballos/19-min.jpg">
            </div>
    
            <div class="columna col-sm-12 col-md-3 col-xl-3">
                 <a href="../../img/dos_caballos/20.jpg"><img alt="foto 19" src="../../img/dos_caballos/20-min.jpg"></a>
                 <a href="../../img/dos_caballos/21.jpg"><img alt="foto 20" src="../../img/dos_caballos/21-min.jpg"></a>
                 <a href="../../img/dos_caballos/22.jpg"><img alt="foto 21" src="../../img/dos_caballos/22-min.jpg"></a>
                 <a href="../../img/dos_caballos/23.jpg"><img alt="foto 22" src="../../img/dos_caballos/23-min.jpg"></a>
                 <a href="../../img/dos_caballos/24.jpg"><img alt="foto 23" src="../../img/dos_caballos/24-min.jpg"></a>
                 <a href="../../img/dos_caballos/25.jpg"><img alt="foto 24" src="../../img/dos_caballos/25-min.jpg"></a>
            </div>
    
            <div class="columna col-sm-12 col-md-3 col-xl-3">
                 <a href="../../img/dos_caballos/26.jpg"><img alt="foto 25" src="../../img/dos_caballos/26-min.jpg"></a>
                 <a href="../../img/dos_caballos/27.jpg"><img alt="foto 26" src="../../img/dos_caballos/27-min.jpg"></a>
                 <a href="../../img/dos_caballos/28.jpg"><img alt="foto 27" src="../../img/dos_caballos/28-min.jpg"></a>
                 <a href="../../img/dos_caballos/29.jpg"><img alt="foto 28" src="../../img/dos_caballos/29-min.jpg"></a>
                 <a href="../../img/dos_caballos/30.jpg"><img alt="foto 29" src="../../img/dos_caballos/30-min.jpg"></a>
                 <a href="../../img/dos_caballos/31.jpg"><img alt="foto 30" src="../../img/dos_caballos/31-min.jpg"></a>
            </div>

            <div class="columna col-sm-12 col-md-3 col-xl-3">
                <a href="../../img/dos_caballos/33.jpg"><img alt="foto 31" src="../../img/dos_caballos/33-min.jpg"></a>
                <a href="../../img/dos_caballos/34.jpg"><img alt="foto 32" src="../../img/dos_caballos/34-min.jpg"></a>
                <a href="../../img/dos_caballos/35.jpg"><img alt="foto 33" src="../../img/dos_caballos/35-min.jpg"></a>
                <a href="../../img/dos_caballos/36.jpg"><img alt="foto 34" src="../../img/dos_caballos/36-min.jpg"></a>
                <a href="../../img/dos_caballos/37.jpg"><img alt="foto 35" src="../../img/dos_caballos/37-min.jpg"></a>
                <a href="../../img/dos_caballos/38.jpg"><img alt="foto 36" src="../../img/dos_caballos/38-min.jpg"></a>
           </div>

        </div>

        <!--VOLVER ARRIBA-->
		<div class="arriba container-fluid text-center mt-5">
			<a href="#" class="arriba__link h5">Volver arriba</a>
		</div>

    </main>
   
    <footer class="container-fluid p-4 text-center bg-dark text-light mt-5">
        <label for="buscar"> Buscar: </label>
                <input type="text" name="buscar" >
                Copyright 2021 - <span class="bold">Rubiio oficial</span> - rubiioibz@hotmail.com 
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
    </html>